<div class="hero">
  {{!-- <div class="container"> --}}
    <h2 class="hero-title">Get Food Delivered Fast</h2>
  {{!-- </div> --}}
</div>

<div class="container">
  <h3 class="title">Menu</h3>
  <div class="grid">
    {{log model}}
    {{#each model as |menu|}}
      <div class="grid__item">
        {{log menu}}
        <div class="card">
          <h3 class="card__header">{{ menu.name }}</h3>
    {{#each menu.menuItems as |value|}}
    {{log value }}
      <p class="card__content--name">{{ value.name }}</p>
      <p class="card__content--description">{{ value.description }}</p>
      <p class="card__content--price">{{ value.price }}</p>
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>

<div class="grid">
  <div class="grid__item">
    <div class="grid__item--half">
      <h3 class="title">Your Order</h3>
        <div class="card">
          <h3 class="card__header">Cart</h3>
          <h4>Add Something</h4>
          <p>No items have been added to the cart!</p>
          {{#each cart as |cart|}}
          <p>{{ cart }}</p>
          {{/each}}
          <button class="cart-btn">Submit Order</button>
        </div>
    </div>
  </div>
</div>

</div>
